﻿ .custom-combobox {
            position: relative;
            display: inline-block;
            padding:0px
        }

        .custom-combobox-toggle {
            position: absolute;
            top: 0;
            bottom: 0;
            margin-left: -1px;
            padding: 0px;
        }

        .custom-combobox-input {
            margin: 0;
            padding: 5px 10px;
            color:#000;
        }
        /*#select option {
            font-family: Tahoma;
            color: red;
            width: 400px;
            padding: 10px;
        }*/
        .lanegrid-label {
            margin: 0;
            font-family: Tahoma;
            color :#454545;
            min-width:200px;
            padding:15px;
        }
          .lanegrid-span {
            margin: 0;
            font-family: Tahoma;
            color :#454545;
            /*min-width:200px;*/
            padding-left:5px;
            padding-right:5px;
        }
        .lanegrid-button {
            margin: 0;
            font-family: tahoma;
            width:auto;height:auto;
            display:inline;
            color: #fff;
            background-color:#9e341c;             
            border-radius:4px;
            box-shadow:none;
            padding: 6px 12px;
            border:1px solid #881C03;
        }
        #navlist li {
            display: inline;
            list-style-type: none;
            vertical-align:top
        }
        .scheduler_blue_selected {
            background: #000;
        }

    .lanegrid-label {
        color:#fff;
    }

    .lanegrid-span {
        color:#000;
        padding:5px;
    }

    .lanegrid-header {
        height:auto;
        background-color:#B42D0F;
        color:#fff;
    }

.col-md-1.left-cal {
    width:140px;
}

.col-md-11.main-grid {
    width: calc(100% - 140px);
}

.status-btns-div {
    margin-top:20px;
}
.ui-icon-triangle-1-s {
    background-position: -65px -11px !important;
}

@media screen and (max-width: 1024px) {
       

    .status-btns-div {
        margin-top:0px;       
    }
    .lanegrid-header {
        padding-bottom:15px;
    }

    .lanegrid-span {   
        margin-top: 5px;
        display: inline-block;
    }
    .col-sm-3.left-cal {
       width: 140px;
    }

    .col-sm-9.main-grid {
        width: calc(100% - 140px);
    }
   
    
}

/*@media screen and (min-width: 480px) and (max-width: 768px) {
     .col-sm-3.left-cal {
        width:22.5%;
    }

    .col-sm-9.main-grid {
        width:77.5%;
    }
}*/

@media only screen and (max-width: 480px) {

     .col-xs-12.left-cal {
        width:100%;
    }

    .col-xs-12.main-grid {
        width:100%;
    }

}